         body {
             background-color: #d5d5d6;
             color: #968c83;
             font-family: 'Montserrat', sans-serif;
             padding: 20px;
             margin: 0%;
             box-sizing: border-box;
             position: relative;
             height: 100vh;
         }
         
         nav * {
             list-style-type: none;
             color: #968c83;
             margin: 10px;
             text-align: right;
             display: inline-block;
         }
         
         .navebar .nav {
             width: 30%;
             display: inline-block;
             float: right;
             text-align: right;
         }
         
         hr {
             border-style: none;
             border-top-style: dotted;
             border-width: 5px;
             width: 10%;
             border-color: #91684a;
             margin: auto;
         }
         
         h3,
         h4 {
             text-align: center;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
             margin: 10px;
             font-size: large;
         }
         
         .icon {
             height: 5rem;
             width: 5rem;
         }
         
         .navup {
             list-style-type: none;
             margin: 0px 10px;
             position: relative;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
         }
         
         .nav-bar {
             margin: 0px 10px;
         }
         
         .center {
             width: 50%;
             text-align: center;
             height: 80px;
             padding: 0px;
             margin: 200PX 400px;
             text-align: center;
         }
         
         .gif2 {
             position: absolute;
             top: 50px;
             left: 80px;
             height: 8rem;
             width: 8rem;
         }
         
         .par {
             width: auto;
             margin: 10px;
             padding: 0px;
             word-spacing: 10px;
         }
         
         .buttom {
             position: absolute;
             bottom: 0;
             left: 50%;
             transform: translateX(-50%);
         }
         /* Sing-up page */
         
         input {
             border-radius: 4px;
             border: 1px solid #dcdcdc;
             padding: 4px 6px;
             margin-left: 8px;
             width: 200px;
         }
         
         label {
             min-width: 82px;
             display: inline-block;
             text-align: left;
             text-transform: capitalize;
         }
         
         .tom {
             border-radius: 4px;
             font-size: 16px;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
             margin: 0;
             border: 1px solid #dcdcdc;
             background-color: #fff;
             padding: 8px;
             width: 124px;
         }
         
         .formsl {
             border-radius: 4px;
             font-size: 14px;
             background-color: #d5d5d6;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
             padding: 30px;
             text-align: center;
             width: 50%;
             position: absolute;
             left: 50%;
             top: 57%;
             transform: translate(-50%, -57%);
         }
         
         .formsl.signup {
             margin-top: 70px;
         }
         
         .form-group {
             margin-bottom: 16px;
         }