         body {
             background-color: #d5d5d6;
             color: #968c83;
             font-family: 'Montserrat', sans-serif;
             padding: 0%;
             margin: 0%;
         }
         
         nav * {
             list-style-type: none;
             color: #968c83;
             right: 0%;
             margin: 10px;
             text-align: right;
             display: inline;
             float: right;
             right: 20px;
         }
         
         hr {
             border-style: none;
             border-top-style: dotted;
             border-width: 5px;
             width: 10%;
             border-color: #91684a;
             margin: auto;
         }
         
         h3,
         h4 {
             text-align: center;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
             margin: 10px;
             font-size: large;
         }
         
         .icon {
             float: left;
             height: 5rem;
             width: 5rem;
             padding: 0;
             margin: 0px 10px;
             position: relative;
             left: 30px;
             top: 20px;
         }
         
         .navup {
             list-style-type: none;
             margin: 0px 10px;
             position: relative;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
         }
         
         .nav-bar {
             margin: 0px 10px;
         }
         
         .center {
             width: 50%;
             text-align: center;
             height: 80px;
             padding: 0px;
             margin: 200PX 400px;
             text-align: center;
         }
         
         .gif2 {
             position: absolute;
             top: 50px;
             left: 80px;
             height: 8rem;
             width: 8rem;
         }
         
         .par {
             width: auto;
             margin: 10px;
             padding: 0px;
             word-spacing: 10px;
         }
         
         .buttom {
             position: absolute;
             left: 500px;
             bottom: 300px;
             /* width: 50%; */
             text-align: center;
             height: 20px;
             padding: 20px;
             margin: 30px;
         }
         /* Sing-up page */
         
         input,
         label {
             position: absolute;
             /* right: 200px;
             bottom: 100px; */
             width: 70%;
             padding: 10px 20px;
             margin: 30px;
             box-sizing: border-box;
             border-radius: 8%;
         }
         
         .tom {
             border-radius: 10%;
             font-size: 14px;
             background-color: #e2d5d5;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
             padding: 0;
             margin: 0;
         }
         
         .formsl {
             position: relative;
             top: 200px;
             left: 200px;
             border-radius: 10%;
             font-size: 14px;
             background-color: #e2d5d5;
             font-family: 'Montserrat', sans-serif;
             font-weight: 600;
             padding: 0;
         }