/* top web page / nav /  */

body {
    background-color: #d5d5d6;
    color: #968c83;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
}

.icon {
    height: 5rem;
    width: 5rem;
}

nav * {
    list-style-type: none;
    color: #968c83;
    text-align: right;
    display: inline-block;
}

.nav-bar {
    height: 120px
}

.nav-bar .nav {
    width: 30%;
    display: inline-block;
    float: right;
    text-align: right;
}

.navup {
    list-style-type: none;
    margin: 0px 10px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-bar {
    margin: 0px 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

h4,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

img {
    max-width: 450px;
    max-height: 450px;
}


/* central web page */

.products {
    text-align: center;
    margin-bottom: 100px;
}

.ddress1 {
    display: inline-block;
}

.ddress {
    display: inline-block;
    border-radius: 4px;
    margin: 0 30px;
    padding: 0;
}

.h4dress {
    text-align: center;
    padding: 0;
    margin: 0;
}

.gif2 {
    position: absolute;
    top: 50px;
    left: 80px;
    height: 3rem;
    width: 3rem;
}

.price {
    margin: 4px 0;
}

.price .current {
    margin-right: 8px;
}

.price .compared {
    text-decoration: line-through;
}

.tom {
    border-radius: 4px;
    font-size: 14px;
    background-color: #e2d5d5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 6px;
    margin: 0;
    cursor: pointer;
}


/* .buttom webpage  */

.buttom {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

.pp {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}