body {
    font-family: 'Montserrat';
    text-align: center;
    position: absolute;
}

#title {
    background-color: #ff4c68;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: whitesmoke;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    color: #8f8f8f;
    text-align: center;
}


/* download buttons  */

.download-button {
    margin: 5% 3% 5% 0%;
}

.container-fluid {
    padding: 3% 15%;
}


/* nav-bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 200;
}


/* images */

.title-image {
    width: 60%;
    transform: rotate(45deg);
    position: relative;
    z-index: 2;
}


/* <!-- Features --> */

#features {
    padding: 7% 15% 7% 15%;
    background-color: white;
    height: 700px;
    position: relative;
    z-index: 1;
}

.box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* testimonials section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: whitesmoke;
    height: 500px;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    padding: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


/* press */

#press {
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-logo {
    padding-top: 10px;
    width: 12%;
    margin: 20px 20px 20px 15px;
}


/* pricing */

#pricing {
    text-align: center;
    color: #000;
    margin: 0;
    padding-right: 100px;
}

.card-group {
    text-align: center;
    width: 100%;
    margin: 50px;
}

.card {
    text-align: center;
    width: 100%;
    margin: 50px;
}

.pricing-col {
    padding: 20px;
}